{% extends 'layout.html' %}
{% block body %}
   <h1>About us</h1>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex maxime excepturi ad, ea deserunt, ut reiciendis, iusto aliquid ab aliquam beatae vitae eos. Natus animi facilis consectetur incidunt vitae dolores!   Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae praesentium corrupti, numquam magni esse illo pariatur voluptatem vero quas nulla soluta nostrum, eos, corporis error expedita quasi. Obcaecati, maiores Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel architecto sint ipsam aliquam voluptates. Atque eveniet excepturi, neque, ea ducimus aperiam similique magni aliquid non odit, iste quis ad?</p>
{% endblock %}