{% extends 'layout.html' %}
{% block body %}

<style type="text/css">



</style>
<section class="container">'
    <div>
        <p>This platform was founded 3rd April,2019 by Delideas Solution with the sole aim of improving and educating young scholars.It was created to test the mind of students and their capabilities, it calculates the speed,agility and reaction time of a student.</p>
        <p>Our aim is the pursuit of excellence for all. We strive for the development of individual potential in a stimulating and inspiring school that is at the heart of the local community.

            Cheam High School aims to create a welcoming and exciting learning environment where we:</p>
<ul>
    <li>Provide a rich, diverse and challenging education through excellent and innovative teaching and learning.</li>
    <li>Celebrate success, promote a "can do" attitude and inspire each to achieve their best.</li>
    <li>Support personal development, social responsibility and a sense of self-worth.</li>
    <li>Develop the attitudes and skills that support a healthy and fulfilled life together with the confidence for a lifetime of learning.</li>
    <li>Work as partners in learning with students, parents/carers and the community.</li>
    <li>Provide a safe, supportive and well-ordered environment where students and staff are happy and confident as they aspire to achieve</li>
</ul>

    </div>
</section>



{% endblock %}